<!--include Header-->

<%- include('include/_header') %>


<!--/Include Header-->

<!--Main Site-->

<main id="site-main">

    <div class="container">
        <div class="box-nav d-flex justify-between">
             <a href="/add-user" class="border-shadow">
                  <span class="text-gradient">
                    New User<i class="fa-solid fa-user"></i>
                  </span>
             </a>
        </div>
        <%- include('include/_form') %>
    
    </div>
    
    </main>
    
    
    
    <!--/Main Site-->


<!--include footer-->

<%- include('include/_footer') %>


<!--/Include footer-->