<!-- Third Section-->


<section id="contact" class="contact-section">
    <div class="contact-section-header">
        <h2 id="con">Let's work together...</h2>
        <p>How would you like your website built? </p>
    </div>
    <div class="form">
        <form id="form" action="mailto:gmatagaro4@gmail.com/email-submit">
            <input type="email" id="email" placeholder="Your Email Address" name="email" required /><br>
            <a href="#" target="_blank" id="submit" class="btn contact-submit"><i class="fas fa-arrow-right"></i></a
                </form>
    </div>
    <div class="contact-links">
        <a href="#" target="_blank" class="btn contact-details"><i class="fab fa-instagram"></i></a>
        <a id="profile-link" href="https://github.com/GodyRacks" target="_blank" class="btn contact-details"><i
                class="fab fa-github"></i></a>
        <a href="https://twitter.com/GodfreyMatagaro" target="_blank" class="btn contact-details"><i class="fab fa-twitter"></i></a>
        <a href="https://whatsapp.com/+254790376644" class="btn contact-details"><i class="fas fa-whatsapp"></i></a>
    </div>
</section>

<!-- END CONTACT SECTION -->