 <!-- START FOOTER SECTION -->

 <footer>
    <p id="foot">
        &copy; 2023, Made with ❤ by
        <a id="fot" href="https://www.twitter.com/GodfreyMatagaro" target="_blank">Godfrey Matagaro
        </a>
    </p>
</footer>

<!-- END FOOTER SECTION -->
</body>
</html>