  <!-- Second Section-->

  <section id="welcome-section">
    <h1>Hey I'm Matagaro</h1>
    <p><i>a full-stack web developer</i></p>
</section>

<section id="projects" class="project-section">
    <h2 class="projects-section-header">My Project's</h2>

    <div class="projects-grid">
        <a href="https://github.com/GodyRacks" target="_blank" class="project project-tile">
            <img class="project-image"
                src="https://images.pexels.com/photos/6927334/pexels-photo-6927334.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project" />
            <p class="project-title">

                Calculator App

            </p>
        </a>

<!--link to github-->
    </div>


</section>